/* https://medium.com/@Aenon/firefox-hide-native-tabs-and-titlebar-f0b00bdbb88b */
/* Location: Firefox/menu/help/More Troubleshooting Information/Profile Directory/ */
/* hides the native tabs */
#TabsToolbar {
    visibility: collapse !important;
  }
  #titlebar {
    visibility: collapse !important;
  }
  #sidebar-header {
    visibility: collapse !important;
  }
  #main-window[chromehidden~="toolbar"] #nav-bar {
    visibility: collapse !important;
  }
  #navigator-toolbox {
    padding-top: 0px !important;
  }